* {
	margin			: 0;
	padding			: 0;
}

body {
	background		: #333 50% 0 repeat fixed;
	color			: #222;
	font-family		: Arial, serif;
	font-size		: 12px;
	line-height		: 1.3em;
	text-align		: center;
}

h1{
	font-family: 'Josefin Sans Std Light', arial, serif;
	font-size:3em;
	padding-top:12px;
	color:white;
}

p{
	font-weight: bold;
}

div.ball{
	width			: 180px;
}

.content {
	left			: 0;
	position		: absolute;
	top				: 0;
}
