<html>
<head>
<style type="text/css" media="screen">
	.agenda{
		font-family:Helvetica,Arial;
		left:260px;
		position:absolute;
		top:400px;
		color:white;
	}
	
</style>
<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body style="overflow:hidden; background: black">
<canvas id="canvasElement" width="100" height="100"></canvas>
<script type="text/javascript" charset="utf-8">

function HexToR(h) {return parseInt((cutHex(h)).substring(0,2),16)}
function HexToG(h) {return parseInt((cutHex(h)).substring(2,4),16)}
function HexToB(h) {return parseInt((cutHex(h)).substring(4,6),16)}
function cutHex(h) {return (h.charAt(0)=="#") ? h.substring(1,7):h}
	var particles = [];
				for( var i = 0; i < 20; i++ ) {
					particles.push( { 
						id: i,
						x:Math.random()*(window.innerWidth-240)+120, 
						y:Math.random()*(window.innerHeight-240)+120, 
						vx:(Math.random()*2)-1, 
						vy:(Math.random()*2-1),
						nome: "Server",
						img: "htt",
						data: "",
						history: [],
						size: 4+Math.random(),
						color: Math.random() > .5 ? "#CCBB51" : Math.random() > .5 ? "#69CDD4" : "#FFFF00"
					} );
				}

				var mouse = { x: 0, y: 0 };

				var canvas = document.getElementById('canvasElement');
				canvas.width = window.innerWidth;
				canvas.height = window.innerHeight;

				if (canvas && canvas.getContext) {
					var context = canvas.getContext('2d');

					Initialize();
				}

				function Initialize() {
					canvas.addEventListener('mousemove', MouseMove, false);
					window.addEventListener('resize', ResizeCanvas, false);
					setInterval( TimeUpdate, 20 );
					context.beginPath();

					ResizeCanvas();
				}

				function TimeUpdate(e) {

					context.clearRect(0, 0, window.innerWidth, window.innerHeight);

					for( var i = 0; i < particles.length; i++ ) {

						context.strokeStyle = particles[i].color;
						context.beginPath();

						context.stroke();

						particles[i].history.push({	x: particles[i].x, y: particles[i].y });
						if( particles[i].history.length > 45 ) {
							particles[i].history.shift();
						}

						var distanceFactor = DistanceBetween( mouse, particles[i] );
						distanceFactor = Math.max( Math.min( 15 - ( distanceFactor / 10 ), 10 ), 1 );

						context.fillStyle = particles[i].color;
						context.beginPath();
						context.arc(particles[i].x,particles[i].y,particles[i].size*distanceFactor*6,0,Math.PI*2,true);
						context.closePath();
						if(distanceFactor > 1){
							context.fillStyle = "rgba("+HexToR(particles[i].color)+ "," +HexToG(particles[i].color)+ "," +HexToB(particles[i].color)+","+ 3/distanceFactor + ")";
						}
						context.fill();
						if(distanceFactor >= 10){
								$('body').append("<div class='agenda'></div>");
								$(".agenda").each(function(){
									$(this).addClass("" + particles[i].id);
									$(this).html("<h2>FILE</h2><img src='http://www.filefestival.org/site_2007/imgs/logofile_eng.gif'/><p>20/10/2010</p>");
									$(this).attr("style", "top:" + particles[i].y  + "px;left:" + particles[i].x + "px;display: block;width:"+ window.innerWidth+ "px;height:" + window.innerHeight+ "px");
									this.addEventListener("mousemove", MouseCalibrate(particles[i]), false);
								});
						}else{
							$(".agenda").each(function(){
								if($(this).attr("class").match("" + particles[i].id)){
									$(this).remove();
								}
							});
						}
					}
				}

				function MouseMove(e) {
						mouse.x = e.layerX;
						mouse.y = e.layerY;
				}

				
				function MouseCalibrate(particle){
					return function(e){
						mouse.x = e.layerX + particle.x;
						mouse.y = e.layerY+ particle.y;
					}
				}

				function Draw( x, y ) {
					context.strokeStyle = '#ff0000';
					context.lineWidth = 4;
					context.lineTo(x, y);
					context.stroke();
				}

				function ResizeCanvas(e) {
					canvas.width = window.innerWidth;
					canvas.height = window.innerHeight;
				}

				function DistanceBetween(mousePointer,particle) {
					var dx = particle.x-mousePointer.x;
					var dy = particle.y-mousePointer.y;
					return Math.sqrt(dx*dx + dy*dy);
				}
</script>
</body>
</html>